html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
}
/* Start NavBar */
nav{
    box-shadow: -5px 0px 11px 0px black;
}
nav .navbar-toggler {
    border: none;
    outline: none;
    color: #3f807f;
}
nav .navbar-toggler:focus {
    box-shadow: none;

}
nav .navbar-nav .nav-item a {
    position: relative;
}
nav .navbar-nav .nav-item a:hover {
    color: #3f807f;
}
nav .navbar-nav .nav-item a:not(.bag):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    background-color: #3f807f;
    width: 0;
    height: 3px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
nav .navbar-nav .nav-item a:hover::after {
    width: 4vw;
}
nav .navbar-nav .nav-item .active {
    font-size: 15px;
    font-weight: 400;
    color: #3f807f;
    position: relative;
}
nav .navbar-nav .nav-item .active:not(.bag):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    background-color: #3f807f;
    width: 1vw;
    height: 3px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
nav .navbar-nav .nav-item .active:hover::after {
    width: 4vw;
}
/* End NavBar */
/* Start Landing */
.landing {
    background-image: url('../Img/about/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 55vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing div{
    text-align: center;
}
.landing div h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}
.landing div h1::first-letter {
    font-size: 65px;
}

.landing div p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}
/* End Landing */

/* Start About */
.about .row {
    align-items: center;
    justify-content: center;
}
.about .row .img img {
    width: 100%;
}
.about .row .text h1 {
    font-size: 50px;
    font-weight: bold;
}
.about .row .text p {
    font-size: 14px;
    margin-top: 10px;
}
.about .row .text .play {
    background-color: rgba(0, 0, 0, 0.226);
    padding: 5px 10px;
    overflow: hidden;
}
.about .row .text .play span {
    animation:test 5s cubic-bezier(0.47, 0.44, 0.64, 0.74) 0s infinite normal none running;
    -webkit-animation:test 5s cubic-bezier(0.47, 0.44, 0.64, 0.74) 0s infinite normal none running;
    white-space: nowrap;
    font-weight: lighter;
}
@keyframes test {
    0% {
        transform: translatex(-120%);
        -webkit-transform: translatex(-120%);
        -moz-transform: translatex(-120%);
        -ms-transform: translatex(-120%);
        -o-transform: translatex(-120%);
}
    100%{
        transform: translatex(120%);
        -webkit-transform: translatex(120%);
        -moz-transform: translatex(120%);
        -ms-transform: translatex(120%);
        -o-transform: translatex(120%);
}
}
.about .video h1 {
    font-size: 60px;
}
.about .video h1 a {
    color: blueviolet;
}
.about video {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about .container .row .box {
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about .container .row .box span {
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.about .container .row .box-1 span {
    background-color: #a6e1e7;
}
.about .container .row .box-2 span {
    background-color: #d784b3;
}
.about .container .row .box-3 span {
    background-color: #7b974c;
}
.about .container .row .box-4 span {
    background-color: #80badd;
}
.about .container .row .box-5 span {
    background-color: #8c7dc3;
}
.about .container .row .box-6 span {
    background-color: #d6a486;
}
.signup {
    background-image: url('../Img/banner/b2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.signup .row {
    align-items: center;
}
.signup .row h1 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
.signup .row p {
    color: rgba(255, 255, 255, 0.400);
    font-weight: 400;
}
.signup .row p span {
    color: #dca10f;
}
.signup .row .input .d-flex {
    justify-content: center;
    align-items: center;
}
.signup .row .input .d-flex input {
    padding: 0 20px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
}
.signup .row .input .d-flex input:focus {
    outline: none;
    border: none;
    box-shadow: none;
    padding: 0 10px;
    letter-spacing: 0px;
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -ms-transition: 0.8s ease;
    -o-transition: 0.8s ease;
}
.signup .row .input .d-flex button {
    outline: none;
    border: none;
    padding: 15px 25px;
    color: white;
    background-color: #3f807f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* End Blog */
/* Start Footer */
.footer .container .row {
    justify-content: center;
}
.footer .container .row ul,
.footer .container .row a {
    list-style: none;
    text-decoration: none;
    padding: 0;
}
.footer .container .row ul a,
.footer .container .row .list-contact span,
.footer .container .row .app p {
    color: rgba(0, 0, 0, 0.600);
}
.footer .container .row ul a:hover {
    color: #268391;
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -ms-transition: 0.8s ease;
    -o-transition: 0.8s ease;
}
.footer .container .row h1,
.footer .container .row .Contact {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.footer .container .row .list-contact {
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.footer .container .row .app .d-flex img {
    border: #268391 1px solid;
    object-fit: cover;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.footer .container .row .app .d-flex img:hover {
    cursor: pointer;
}
@media (max-width:400px){
    .footer .container .row .app .d-flex {
        flex-direction: column;
        width: 200px;
    }
}